*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  margin: 0 auto;
  width: 100%;
}

header {
  background-color: #fadcd9;
  width: 100%;
  height: 100%;
  padding: 0px 0px 50px 0px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;
}

.box_btn_nav {
  align-items: center;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.about,
.Courses,
.Events,
.Blog,
.Contacts {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
  margin: 0px;
  padding: 10px;
  transition: 0.3s;
}

.about:hover,
.Courses:hover,
.Events:hover,
.Blog:hover,
.Contacts:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.consultation {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  transition: 0.3s;
}

.get {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 52px;
  letter-spacing: 0.5px;
}

.Register {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
}

.consultation:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.box {
  display: flex;
  flex-direction: row;
}

.login,
.Register {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
}

.login:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.Register:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 180px;
  width: 1440px;
  margin: 0 auto;
}

.box_body_col1 {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.Enjoy {
  color: var(--gray-900, #1E212C);
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
  letter-spacing: 1px;
  font-family: "Space Mono", monospace;
}

.illustration {
  width: 500px;
  height: 500px;
}

.about_btn {
  width: 130px;
  height: 40px;
  display: flex;
  padding: 0px 40px;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--btn-gradient, #FF3F3A);
  padding: 11px 27px;
  transition: 0.3s;
}

.about_btn:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.about_text_btn {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.5px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  background-clip: text;
  color: #FF3F3A;
}

.Explore_btn {
  width: 200px;
  height: 40px;
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  padding: 11px;
  transition: 0.3s;
}

.Explore_btn:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.Explore_text_btn {
  font-family: "Space Mono", monospace;
  color: var(--white, #FFF);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.5px;
}

.box_body_row {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.box_body_row2 {
  display: inline-flex;
  align-items: center;
  gap: 66px;
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;
  height: 60px;
  justify-content: center;
}

.box_1200 {
  display: flex;
  align-items: center;
  gap: 12px;
}

._1200 {
  color: var(--gray-900, #1E212C);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 45px;
  font-style: normal;
  font-weight: 800;
  line-height: 130%;
}

.Students {
  color: var(--gray-900, #1E212C);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 160%;
}

.sec2 {
  display: flex;
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;
  gap: 150px;
  padding: 70px;
}

.box_body_row3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 400px;
}

.Who {
  color: var(--gray-900, #1E212C);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.why {
  color: var(--gray-900, #1E212C);
  font-family: "Space Mono", monospace;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

.tempus {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.Vulputate {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.sed {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.nibh {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.eget {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.amet {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}

.more_btn {
  display: inline-flex;
  padding: 0px 32px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  width: 161px;
  height: 44px;
  transition: 0.3s;
  padding: 14px;
}

.more_text {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.more_btn:hover {
  transform: scale(1.03);
  transition: 0.3s;
}

.sec3 {
  /* display: flex; */
  flex-direction: row;
  width: 1440px;
  margin: 0 auto;
  gap: 150px;
  padding: 70px;
}

.Ready {
  color: var(--gray-900, #1E212C);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-left: 10px;
}

.Featured {
  color: var(--gray-900, #1E212C);
  font-family: "Space Mono", monospace;
  font-size: 46px;
  font-style: normal;
  font-weight: 900;
  line-height: 130%;
}

.box_row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.all_btn {
  display: inline-flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  border: 1px solid var(--btn-gradient, #FF3F3A);
  transition: 0.3s;
}

.all {
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 20px;
  letter-spacing: 0.5px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  background-clip: text;
}

.all_btn p{
 color: #F75E05; 
}

.all_btn:hover{
transform: scale(1.03);
transition: 0.3s;
}