*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

.container {
  margin: 0 auto;
  width: 72%;
}

header {
  background-color: #fadcd9;
  width: 100%;
  height: 100%;
}

nav {
  align-items: center;
  gap: 20px;
  display: flex;
  flex-direction: row;
}

.box_btn_nav {
  align-items: center;
  gap: 30px;
  display: flex;
  flex-direction: row;
}

.about,
.Courses,
.Events,
.Blog,
.Contacts {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
  margin: 0px;
  padding: 10px;
  transition: 0.3s;
}

.about:hover,
.Courses:hover,
.Events:hover,
.Blog:hover,
.Contacts:hover {
  transition: 0.3s;
  transform: scale(1.03);
}

.consultation {
  display: flex;
  padding: 0px 40px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
  transition: 0.3s;
}

.get {
  color: var(--white, #FFF);
  text-align: center;
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0.5px;
}

.Register {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.consultation:hover {
  transform: scale(1.03);
  transition: 0.3s;
}
.box{
  display: flex;
  flex-direction: row;
}
.login,
.Register {
  color: var(--gray-800, #424551);
  font-family: "Space Mono", monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.login:hover{
  transform: scale(1.03);
  transition: 0.3s;
}
.Register:hover{
  transform: scale(1.03);
  transition: 0.3s;
}