*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Space Mono",monospace;
}
section {
  width: 1400px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
}

nav {
  width: 1230px;
  height: 52px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-top: 10px;
}

.links {
  display: inline-flex;
  align-items: flex-start;
  gap: 45px;
  margin-right: 100px;

}
nav a{
  color: var(--gray-800, #424551);
}
nav a:hover{
  color: rgba(255, 63, 58, 1);
  transition: ease 0.5s;
}

.buttons {
  display: inline-flex;
align-items: center;
  gap: 26px;
}
#orange-btn{
  width: 150px;
  padding: 10px 0px;
  text-align: center;
border-radius: 5px;
background: var(--btn-gradient, linear-gradient(56deg, #FF3F3A 0%, #F75E05 100%));
color: aliceblue;
}